@model KatyDevBlog.Models.BlogPost
@using KatyDevBlog.Enums
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BlogPost</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data" id="frmCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*Decide whether to show the SelectList to the user or embed the FK into the form as a hidden...*@

            @if (Model?.BlogId > 0)//This means an Id has been pushed
            {
                <input type="hidden" asp-for="BlogId" />
            }
            else
            {
                <div class="form-group">
                    <label asp-for="BlogId" class="control-label"></label>
                    <select asp-for="BlogId" class="form-control blogSelect" asp-items="ViewBag.BlogId"></select>
                </div>
            }

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <textarea asp-for="Abstract" class="form-control"></textarea>
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>

                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ReadyStatus" class="control-label"></label>
                <select asp-for="ReadyStatus" asp-items="@Html.GetEnumSelectList(typeof(ReadyState))" class="form-control blogSelect"></select>
                <span asp-validation-for="ReadyStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" accept=".png,.jpg,.jpeg" class="form-control" />
            </div>
            @*Add a section for Tags*@
            <div class="form-group pb-5">
                <div class="row">
                    <div class="col-6">
                        <label class="control-label">Manage Tags</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="row mb-2">
                            <div class="col">
                                <input id="tagEntry" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-dark btn-sm w-100" name="Add" onclick="AddTag()">Add</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-dark btn-sm w-100" name="Delete" onclick="DeleteTag()">Delete</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <select class="w-100" name="TagValues" id="TagList" multiple>
                            @*<option></option>*@
                        </select>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/CustomTags.js"></script>

    <script>
        let fileInput = document.getElementById("Image");
        fileInput.onchange = evt => {
            const [file] = fileInput.files
            if (file) {
                document.getElementById("imgPreview").src = URL.createObjectURL(file);
            }
        }
    </script>

    }