@model KatyDevBlog.Models.BlogPost
@using KatyDevBlog.Enums
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BlogPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="BlogId" />
            <input type="hidden" asp-for="Created" />
            <input type="hidden" asp-for="ImageData" />
            <input type="hidden" asp-for="ImageType" />
            <input type="hidden" asp-for="Slug" />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <textarea asp-for="Abstract" class="form-control"></textarea>
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadyStatus" class="control-label"></label>
                <select asp-for="ReadyStatus" asp-items="@Html.GetEnumSelectList(typeof(ReadyState))" class="form-control"></select>
                <span asp-validation-for="ReadyStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" accept=".png,.jpg,.jpeg" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            @*Add a section for Tags*@
            <div class="form-group pb-5">
                <div class="row">
                    <div class="col-6">
                        <label class="control-label">Manage Tags</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="row mb-2">
                            <div class="col">
                                <input id="tagEntry" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-dark btn-sm w-100" name="Add" onclick="AddTag()">Add</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-dark btn-sm w-100" name="Delete" onclick="DeleteTag()">Delete</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <select class="w-100" name="TagValues" id="TagList" multiple>
                            @*<option></option>*@
                        </select>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/CustomTags.js"></script>

    <script>
        let fileInput = document.getElementById("Image");
        fileInput.onchange = evt => {
            const [file] = fileInput.files
            if (file) {
                document.getElementById("imgPreview").src = URL.createObjectURL(file);
            }
        }
    </script>

}

